<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CheersTweetText</key>
	<string>Cheers!</string>
	<key>CheersTweetTitleText</key>
	<string>Cheers</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>02e071c0030d044fef252559bb5c43087c92a622</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>Consumer Key</string>
					<key>consumerSecret</key>
					<string>Consumer Secret</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>GoogleMapKey</key>
	<string>AIzaSyBYIPyHzmhXkdAQrAgPD7mOY5aXbfZ8mus</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NCMB</key>
	<dict>
		<key>appKey</key>
		<string>3c1bab7466850bf84bb81297d56c18cf43f920634ea3bb34bb5920fa172ed608</string>
		<key>clientKey</key>
		<string>40b61f5c544baf6770b933058631cffd86355be59a675d16b203a22c311d9621</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.twitter.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>mb.api.cloud.nifty.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>現在位置情の表示に利用</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>現在位置情の表示に利用</string>
	<key>Twitter</key>
	<dict>
		<key>consumerKey</key>
		<string>HFue2DlN6uqp7CfhslaU0tOxr</string>
		<key>consumerSecret</key>
		<string>eLIw6fa6gwZmsFJsFzZWNAwau3Tyz2WDPoaJFJOzqTA2K318y0</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
